.form-control {
    border-radius: 0;
}

.input-field {
    margin-top: 45px;
}

    .input-field label {
        color: #999;
        top: 0;
        left: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        margin: 0;
    }

        .input-field label.active {
            font-size: 12px;
        }

.alert {
    padding: 12px 15px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    border-bottom: 1px solid #9b9b9b;
    font-size: 14px;
}


    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #03a9f4;
        box-shadow: 0 1px 0 0 #03a9f4;
    }

        input[type=text]:focus:not([readonly]) + label,
        input[type=password]:focus:not([readonly]) + label,
        input[type=email]:focus:not([readonly]) + label,
        input[type=url]:focus:not([readonly]) + label,
        input[type=time]:focus:not([readonly]) + label,
        input[type=date]:focus:not([readonly]) + label,
        input[type=datetime-local]:focus:not([readonly]) + label,
        input[type=tel]:focus:not([readonly]) + label,
        input[type=number]:focus:not([readonly]) + label,
        input[type=search]:focus:not([readonly]) + label,
        textarea.materialize-textarea:focus:not([readonly]) + label {
            color: #03a9f4;
        }

textarea.materialize-textarea {
    min-height: 60px;
}

/*For solid background */
.solid-bg input[type=text],
.solid-bg input[type=email],
.solid-bg textarea.materialize-textarea {
    border-bottom: 1px solid #fff;
}

    .solid-bg input[type=text]:focus:not([readonly]),
    .solid-bg input[type=email]:focus:not([readonly]),
    .solid-bg textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
    }

        .solid-bg input[type=text]:focus:not([readonly]) + label,
        .solid-bg input[type=email]:focus:not([readonly]) + label,
        .solid-bg textarea.materialize-textarea:focus:not([readonly]) + label {
            color: #fff;
        }

.solid-bg .input-field label,
.solid-bg input[type=text],
.solid-bg input[type=email] {
    color: #fff;
}